body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.content{
    display: grid;
    grid-template-columns: [line-1] 5vw [line-2] 90vw [line-3] 5vw;
    grid-template-rows: [header-start] 10vh  [header-end mainMenu-start] 5vh [mainMenu-end subMenu-start] 5vh [subMenu-end main-start] 70vh [main-end footer-start] 10vh [footer-end];
    grid-template-areas: 
    "header header header"
    "mainMenu mainMenu mainMenu"
    "subMenu subMenu subMenu"
    ". main ."
    "footer footer footer"

}
.header{
    grid-area: header;
    background-color: lightblue;
}
.mainMenu{
    grid-area: mainMenu;
    background-color: lightcoral;
    display: flex;
    flex-flow: row nowrap;
}
.mainMenuList{  
    list-style: none;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.subMenu{
    grid-area: subMenu;
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}
.subMenuList{  
    list-style: none;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}


.main{
    grid-area: main;
    background-color: lightgreen;
}
.footer{
    grid-area: footer;
    background-color: lightslategray;