body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    
}
a:link, a:visited {
    text-decoration: none;
    color: black;
    
}
a:hover{
    text-decoration: none;
    color: #8c8b8b;
}
h2{
    margin: 5px;
    font-size: 25px;
    font-family: 'Philosopher', sans-serif;
    display: inline;
}
h3{
    margin: 0px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    display: inline;
}
p{
    margin: 0px;    
}
ul{
    list-style: none;
    padding: 5px;
}
button{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 2px solid;
    cursor: pointer;
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
}
.header{
    text-align: center;
    height: 150px;
    background-color: #FFFFFF;
    width: 1010px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    background: url('img/logo.png');
    background-size: 457px;
    background-repeat: no-repeat;
    background-position: center;
}
.cartLink{
    width: 64px;
    height: 64px;
    background: url('img/cart.png');
    background-size: 64px;
    margin-bottom: 20px;
}
.cartCounter{
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-top: 26px;
}
.mobileMenuButton{
    display: none;
}
.fa-bars{
    color: #4d4d4d;
}
.fa-bars:hover{
    color: #8c8b8b;
}
.mainMenu{
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
}
.mainMenuList{  
    width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.menuHR{
    border: 0; 
    height: 1px; 
    width: 90vw;
    margin: 0px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.subMenu{
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
}
.subMenuList{  
    width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.main{
    margin: 50px 0px;
    width: 1200px;
    min-height: 60vh;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-items: flex-start;
    align-content: flex-start;
}
.productCard{
    width: 282px;
    height: 360px;
    text-align: center;
    margin: 12px 9px 12px 9px;
}
.productCardImg{
    width: 280px;
    height: 280px;
    border: 1px solid;
}
.productPage{
    width: 100%;
    height: 560px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.productImg{
    width: 560px;
    height: 560px;
    border: 1px solid;
    margin-right: 58px;
    margin-left: 10px;
}
.productTitle{
        
}
.productTitle h2{
    font-size: 40px;
    margin: 0px;
}
.productContainer{
    width: 560px;
    margin-right: 10px;
}
.productHR{
    border: 0; 
    height: 1px; 
    width: 100%;
    margin: 0px;
    margin-bottom: 4px;
    background-image: -webkit-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #8c8b8b, #8c8b8b, #f0f0f0); 
}
.cartButton{
    height: 40px;
    width: 200px;
    margin: 20px 0px;
}
.cartTitle{
    margin-left: 15px;
    width: 1117px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.cartTitle h3{
    width: 202px;
}
.cartList{
    width: 560px;
    margin-right: 360px;
    margin-left: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    align-items: flex-start;
    align-content: flex-start;
}
.cartSummary{
    width: 260px;
    margin-right: 10px;
}
.cartListProdName{
    width: 300px; 
}
.cartListRemove a{
    color: #8c8b8b;
}
.cartListRemove a:hover{
    color: black;
}
.footer{
    width: 100vw;
    height: 150px;
    background-color: lightslategray;
}


@media (max-width: 1250px) {
    .header{
        width: 760px;
    }
    .mainMenuList{  
        width: 900px;
    }
    .subMenuList{  
        width: 900px;
    }
    .main{
        width: 900px;
    } 
    .productPage{
        height: 420px;
    }
    .productImg{
        width: 420px;
        height: 420px;
        margin-right: 38px;
    }
    .productContainer{
        width: 420px;
    }
    .cartTitle{
        width: 817px;
    }
    .cartList{
        width: 450px;
        margin-right: 170px;
    }
    .cartListProdName{
        width: 250px; 
    }
    .cartSummary{
        width: 260px;
    }

}
@media (max-width: 899px) {
    .header{
        order: -1;
        width: 90vw;
        height: 20vw;
        align-items: center;
        background-size: 60vw;
        background-position-x: center;
        justify-content: space-between;
    }
    .cartLink{
        width: 15vw;
        height: 15vw;
        background-size: 15vw;
        margin-bottom: -3vw;   
        margin-right: 0.5vw;
    }
    .cartCounter{
        font-size: 5vw;
        margin-top: 5.7vw;
    }
    .mobileMenuButton{
        display:inline-block;
        margin-bottom: -4.5vw;   
        margin-left: 2.5vw;
        font-size: 3vw;
    }
    .menuHR{
        order: -1
    }
    .mainMenu{
        height: 100%;
        width: 40vw;
        flex-flow: column nowrap;
        display: none;
    }
    .mainMenuList{  
       width: 40vw;
       flex-flow: column nowrap;
       align-items: flex-start;
    }
    
.subMenu{
    height: 100%;
    width: 40vw;
    flex-flow: column nowrap;
    display: none;
}
    .subMenuList{  
        width: 40vw;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .main{
        width: 500px;
        margin: 0px 0px;
    } 
    .productCard{
        width: 232px;
        height: 290px;
    }
    .productCardImg{
        width: 230px;
        height: 230px;
    }
    .productPage{
        height: 100%;
    }
    .productTitle{
       order: -1; 
       margin: 10px;
    }
    .productImg{
        width: 480px;
        margin: 0px 10px;
    }
    .productContainer{
        width: 480px;
        margin: 0px 10px;
    }
    .cartTitle{
        width: 450px;
    }
    .cartTitle h3{
        width: 210px;
    }
    .cartList{
        width: 480px;
        margin-right: 0px;
    }
    .cartListProdName{
        width: 180px; 
    }
    .cartSummary{
        width: 260px;
    }
    .cartButton{
        margin: 20px 10px;
    }

}
@media (max-width: 499px) {
    h2{
        margin: 0px;
    }
    ul{
        padding: 0px;
    }
    .main{
        width: 94vw;
    } 
    .productCard{
        width: 45vw;
        height: 250px;
        text-align: center;
        margin: 12px 1vw 12px 1vw;   
    }
    .productCardImg{
        width: 45vw;
        height: 45vw;        
    }
    .productTitle{
       order: -1; 
       width: 92vw;
       margin: 1vw;
    }
    .productImg{
        width: 92vw;
        height: 92vw;
        margin: 0px 1vw;
    }
    .productContainer{
        width: 92vw;
        margin: 0px 1vw;
    }
    .cartTitle{
        width: 94vw;
        margin-left: 1vw;
    }
    .cartTitle h3{
        width: 60vw;
    }
    .cartList{
        width: 94vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .cartListProdName{
        width: 50vw; 
    }
    .cartSummary{
        width: 94vw;
    }
    .cartButton{
        margin: 20px 1vw;
    }
}

